language: generic

matrix:
  include:
    - os: linux

      dist: bionic
      sudo: required
      install:
        - npm install svf-lib
    - os: osx
      osx_image: xcode11.5
      install:
       - npm install svf-lib

before_script:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt-get update       ; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt-get install cmake gcc g++; fi

script:
  - export SVF_DIR=$PWD/node_modules/SVF/SVF-$TRAVIS_OS_NAME
  - export LLVM_DIR=$PWD/node_modules/llvm-10.0.0.obj
  - cmake .
  - make
